html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,caption {
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	margin:0;
	padding:0;
}

blockquote,q {
	quotes:none;
}	

blockquote:before,blockquote:after,q:before,q:after {
	content:none;
}

:focus {
	outline:0;
}

del {
	text-decoration:line-through;
}
pre.likeCode {
	height:auto;
	overflow:auto;
	border:1px dotted #efefef;
	padding:3px;
}
.flLeftNone {
	float:left;
	#float:none;
}
.block_quote,.quote {
	font:italic 13px georgia, Arial, verdana, Helvetica, sans-serif;
	background:transparent url("https://css.zohostatic.com/discussions/v5/images/newQuote.gif") 12px 10px no-repeat;
	line-height:20px;
	border-left:3px solid #efefef;
	margin:15px 3px 15px 15px;
	padding:10px 10px 10px 40px;
}
ol.code {
	list-style-position:outside;
	list-style-type:decimal;
	overflow-x:auto;
	overflow-y:hidden;
	width:90%;
	padding:0 30px;
}

ol.code li {
	border-left:2px solid #ccc;
	background-color:#f5f5f5;
	margin:1px 0;
	padding:2px;
}
ul li, ol li{
	list-style: none;
}
blockquote.zquote {
	border-left:3px solid #efefef;
	padding-left:35px;
}

blockquote.zquote span.txt {
	font:bold 50px Arial, Helvetica, sans-serif;
	color:#058bc2;
	float:left;
	-moz-user-focus:ignore;
	-moz-user-input:disabled;
	-moz-user-select:none;
	-khtml-user-select:none;
	-o-user-select:none;
	margin:-10px 0 0 -30px;
}
a.lightbox {
	border:0;
	outline:none;
	color:#ffff;
	text-decoration:none;
}

a.underline {
	text-decoration:none;
	cursor:hand;
	color:#666;
}

a.underline:hover {
	text-decoration:underline;
	cursor:hand;
}

a.postTitle:hover {
	background:#E3F0FF;
	border-bottom:1px solid #105CB6;
	text-decoration:none;
}

a.darkGreenLink {
	color:#52a33d;
}

a.orangeLink {
	color:#B5A563;
}

a.greenLink,a.greenLink:visited {
	color:#77c64c;
	text-decoration:none;
}

a.blueLink,a.blueLink:visited,.blueLink {
	color:#105cb6;
	text-decoration:none;
}

a.blackLink:hover h3,a.blackLink:visited {
	color:#000;
	text-decoration:underline;
}

a.lightGreyText {
	color:#878c97;
	font:normal 10px Arial, Helvetica, sans-serif;
}

a.mediumUnderlineLink {
	color:#2C539A;
	border-bottom:0 dotted #555;
	text-decoration:none;
}

a.mediumUnderlineLinkNew {
	border-bottom:0 dotted #105CB6;
	text-decoration:none;
	background-color:#ffc;
}

.clearAll {
	clear:both;
	margin:0;
	padding:0;
}

.inlineElement {
	display:inline;
}

.inBlock {
	_display:inline-block;
}
.iosMobileForums .spsingleReplyContainer .normalPhoto, .iosMobileForums .spsingleReplyContainer .normalPhoto img{
	height: 36px;
	width: 36px;
}
.iosMobileForums .sppostHeader h3 {
	color:#000;
	font-size:1.4em;
	line-height:1.6em;
	font-weight: normal;
	width:74%;
	float:left;
}

.iosMobileForums .sppostHeader h3 a,.sppostHeader h3 a:hover {
color:#636363;
text-decoration:none;
}
.iosMobileForums .spsingleReplyContainer .responsHeader{
	width: 70%;
	float: left;
}

.iosMobileForums .sppostHeader h4 {
	color:#888;
	font-size: 1.1em;
	line-height:1.3em;
	float: left !important;
	clear: none !important;
	width: 80% !important;
	padding-left: 10px;
	font-weight: normal;
}
.iosMobileForums .sppostAuthor span {
	display: block;
	overflow: hidden;
	padding: 3px 0 0;
	font-size: 0.8em;
	word-break: break-word !important;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.iosMobileForums .spsingleReplyContainer{
	padding: 10px 0 10px 0 !important;
	border-bottom: 1px solid #DDD;
	position: relative;
}
.iosMobileForums .spreplyContainer:last-child .spsingleReplyContainer{
	border-bottom: 0;
}
.iosMobileForums .spsingleReplyContainer .sppostHeader h4{
	width: 100% !important;
}
.iosMobileForums .sppostContent .sppostContentWrapper .sppostHeader{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #f8f8f8;
	border-bottom: 1px solid #eee;
}
.iosMobileForums .sppostContent .sppostContentWrapper .normalPhoto{
	float: left;
}
.iosMobileForums .button {
	zoom:1;
	display:inline;
	vertical-align:baseline;
	outline:none;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	margin:0 2px;
	padding:.5em 2em .55em;
}

.button:active {
	position:relative;
	top:1px;
}

.bigrounded {
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	border-radius:2em;
}

.medium {
	font-size:12px;
	padding:.4em 1.5em .42em;
}

.small {
	font-size:11px;
	padding:.2em 1em .275em;
}

.black {
	color:#d7d7d7;
	border:solid 1px #333;
	background:0;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#222222');
}

a:link,a:visited,h3 a:link,h3 a:visited {
	color:#457BD9;
	text-decoration:none;
}
.clear_both,.ndfooter,.iTclearBoth,.clearBoth,.sppostContent p {
	clear:both;
}
.flLeft,.ndflLeft,.iTflLeft,.mainMenu ul li {
	float:left;
}
.flRight,.ndflRight,.iTflRight {
	float:right;
}
/****** IOS FORUM STYLES *******/
body.iosMobileForums{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	min-width: 100%;
	overflow-x: hidden !important;
	word-break: break-word;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	text-rendering: optimizeLegibility !important;
	padding-bottom: 10px;
}
.iosMobileForums a{
	word-break: break-all;
}
.iosMobileForums *{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.iosMobileForums .leftcontentContainer{
	width: 100%;
	min-height: 100%;
	float: left;
	font-size: 13px;
	padding: 6px;
}
.iosMobileForums .contentContainer{
	margin: 0;
	overflow-x: hidden; 
}
.iosMobileForums .sppostAuthor{
	width: 44px;
	padding: 0;
}
.iosMobileForums .commentHeader{
	float: left;
	padding-left: 4px;
	width: 75%;
}
.iosMobileForums .commentHeader span{
	color: #666;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}
.iosMobileForums .normalPhoto, .iosMobileForums .normalPhoto img {
	height: 42px;
	width: 42px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #f4f4f4;
	position: relative;
}
.contentHeader span{
	color: #666;
	margin-top: 4px;
	display: block;
}
.commentHeader .dimText, .contentHeader .dimText{
	margin-top: -6px;
}
.iosMobileForums .sppostContent {
	width: 100%;
}
.iosMobileForums .sppostContentWrapper{
	padding-left: 0px;
	line-height: 1.7em;
}
.iosMobileForums .sppostHeader{
	width: 100%;
	float: left;
	position: absolute;
	top: 0;
	left: -10px;
	padding: 15px 10px 0 10px;
}
.iosMobileForums .spsingleReplyContainer .sppostHeader{
	width: 110%;
}
.iosMobileForums #DocumentTitle{
	width: 100% !important;
	float: left;
	margin-top: 64px;
	font-size: 1.7em;
	font-weight: 300;
	padding: 20px 10px;
	line-height: 1.4em;
}
.iosMobileForums .sppostHeader .dimText{
	float: left;
	clear: none !important;
	width: 100%;
}
.iosMobileForums .contentHeader{
	width: 70%;
	float: left;
	padding-left: 10px;
}
.iosMobileForums .postContainer h2{
	padding: 5px 0 5px 5px;
	border-bottom: 1px solid #ddd;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 2em;
}
.iosMobileForums img, .iosMobileForums iframe{
	width: auto;
	max-width: 100%;
	height: auto;
}
.iosMobileForums .responseHeight img{
	height: auto !important;
	width: auto !important;
	max-width: 100% !important;
}
.iosMobileForums .contentWrapper{
	width: 100%;
	float: left;
}
.iosMobileForums .responseHeight{
	padding-bottom: 20px;
	padding: 0 4px;
	font-size: 1.2em;
	line-height: 1.8em;
}
.iosMobileForums .responseHeight span{
	font-size: 1.2em !important;
	font-family: 'Helvetica Neue' sans-serif !important;
}
.spreplyContainer .responseHeight{
	padding-bottom: 0px;	
	margin-top: 36px;
	padding: 6px;
}
.iosMobileForums table, .iosMobileForums tr, .iosMobileForums td, .iosMobileForums th{
	border: 1px solid #DDD;
	border-collapse: collapse;
	padding: 2px;
	max-width: 100%;
}
.iosMobileForums em.ndboldem{
	font-size: 10px;
	color: #999;
	font-style: normal;
}