---
layout: default
---

<div class="home">

  <div class="posts ">
    {% for post in paginator.posts %}
      <div class="post row-fluid well">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> <br><br>
           <div class="left"><img src = "/images/{{ post.image | prepend: site.baseurl }}"  class="small-img"/></div>
          <div class="right">  <h3 class="h2 post-title">{{ post.title }}</h3>
         <p class="post-summary ">{{ post.summary }}</p></div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
