---
layout: default
---

<div class="home">

  <div class="posts ">
    {% for post in paginator.posts %}
      <div class="post row-fluid ">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        
            <br><br>
           
           <h3 class="h2 post-title">{{ post.title }}</h3>
         <p class="post-summary ">{{ post.summary }}</p>
        <div>
     <div class="left">  <img src = "{{ site.baseurl }}/assets/{{ post.image }}"  class="small-img " /></div>
<div class="left">  <p class="name">Nivedita <span class="post-meta">on {{ post.date | date: "%b %-d %Y" }}</span></p></div>
    
       </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
