---
layout: default
---
<div class="post-header mb2">
 
  <h1 class="py1">{{ page.title }}</h1>
    <span class="meta">{{ page.date | date: "%b %-d, %Y" }}</span>
</div>

<article class="post-content">
  {{ content }}
</article>
<div class="custom-social-buttons">		
 	<div class="share-buttons-label">
  		<span>Share article</span>
  	</div>
  	<div class="custom-social-button twitter">
  		<a id="twitter-link" href="#"><i class="fa fa-twitter"></i></a>
  	</div>
  	
 	<div class="custom-social-button googleplus">
 		<a id="googleplus-link" href="#"><i class="fa fa-google-plus"></i></a>
 	</div>
    <div class="custom-social-button facebook">
 		<a id="facebook-link" href="#"><i class="fa fa-facebook"></i></a>
 	</div>
    
    
 </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54262252-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  	window.onload = function(){						
  		var blogDomain = "http%3A%2F%2Fmnive93.github.io%2FPersonalBlog%2F{{ page.categories }}%2F";
  		
       
        var pageTitle = "{{ page.title }}";
        
  		var pageTitleDashes = pageTitle.replace(/ /g, '-') + "%2F&amp;";
  		var pageTitleSpaces = pageTitle.replace(/ /g, '%20') + "&amp;";
        var pageDateShort = "{{ page.dateShort }}";
 		var pageDateShortSlashes = pageDateShort.replace(/-/g, '%2F') + "%2F";

  		
 		var twitterPartOne = "https://twitter.com/intent/tweet?original_referer=";
 		var twitterPartTwo = "text=";
 		var twitterPartThree = "tw_p=tweetbutton&amp;url=";
 		var twitterPartFour = "via=mnive93";
 		var twitterUrl = twitterPartOne + blogDomain +pageDateShortSlashes + pageTitleDashes + twitterPartTwo + pageTitleSpaces + twitterPartThree + blogDomain + pageDateShortSlashes + pageTitleDashes + twitterPartFour;
		var twitterLink = document.getElementById("twitter-link");
 		twitterLink.onclick = function() {popUp=window.open(twitterUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
 		
 		/**var linkedinPartOne = "http://www.linkedin.com/shareArticle?mini=true&url=";
 		var linkedinPartTwo = "&title=";
 		var linkedinPartThree = "&summary=";
 		var linkedinPartFour = "&source=";
 		var linkedinUrl = linkedinPartOne + blogDomain + pageDateShortSlashes + pageTitleDashes + linkedinPartTwo + pageTitleSpaces + linkedinPartFour + "@mnive93";
 		var linkedInLink = document.getElementById("linkedin-link");
 		linkedInLink.onclick = function() {popUp=window.open(linkedinUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
 		**/
 		var googlePlusPartOne = "https://plus.google.com/share?url=";
 		var googlePlusUrl = googlePlusPartOne + blogDomain + pageDateShortSlashes + pageTitleDashes;
 		var googlePlusLink = document.getElementById("googleplus-link");
 		googlePlusLink.onclick = function() {popUp=window.open(googlePlusUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
 
        var facebookPartOne = "https://www.facebook.com/sharer/sharer.php?"
        var facebookUrl = facebookPartOne + blogDomain + pageDateShortSlashes+pageTitleDashes;
        var facebookLink = document.getElementById("facebook-link");
        facebookLink.onclick = function() {popUp=window.open(facebookUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
    
    };
 </script>
